<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mensaje" value="Hola Mundo desde el app.conf"/>
	</appSettings>
	<connectionStrings>
		<add name="defaulConnection" connectionString="Data Source=DESKTOP-H4CI0FL;Initial Catalog=Prueba;Integrated Security=False;User ID=sa;Password=Luis1623"/>
	</connectionStrings>
</configuration>